<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <div class="plants-holder">
            <%if (succulents.length === 0) { %>
                <p>No Succulents found.</p>
            <% } else { %>
                <% succulents.forEach(s => { %>
                    <div class="succulent">
                        <p><strong>Name: </strong><%= s.name %><br></p>
                        <p><strong>Species: </strong><%= s.species %><br></p>
                        <p><strong>Genus: </strong><%= s.genus %><br></p>
                        <p><strong>Description: </strong><%= s.description %></p>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </body>
</html>