<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Succulents</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <div class="plants-holder">
            <%if (succulents.length === 0) { %>
                <p>No Succulents found.</p>
            <% } else { %>
                <% succulents.forEach(s => { %>
                    <a href="/succulent/<%= s.id %>" style="text-decoration: none; color: black;">
                        <div class="plant">
                            <img id="img_url" src="<%= s.image_url %>" alt="<%= s.image_url %>">
                            <p id="s_name"><strong><%= s.name %></strong></p>
                        </div>
                    </a>
                <% }) %>
            <% } %>
        </div>
    </body>
</html>