<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Succulents</title>
        <link rel="stylesheet" href="../css/index.css">
        <script src="../scripts/popup.js"></script>
    </head>
    <body>
        <h1><%= title %></h1>
        <a id="new-plant" href="/newPlant"><button>Create new plant listing</button></a>
        <form action="/" method="GET">
            <label for="categories">Sort by:</label>
            <select name="categories" id="categories" onchange="this.form.submit()">
                <option value="name" <%= selected === 'name' ? 'selected' : '' %>>Name</option>
                <option value="species" <%= selected === 'species' ? 'selected' : '' %>>Species</option>
                <option value="genus" <%= selected === 'genus' ? 'selected' : '' %>>Genus</option>
                <option value="price" <%= selected === 'price' ? 'selected' : '' %>>Price (lowest first)</option>
            </select>
        </form>
        <div class="plants-holder">
            <%if (succulents.length === 0) { %>
                <p>No Succulents found.</p>
            <% } else { %>
                <% succulents.forEach(s => { %>
                    <div class="plant">
                        <a href="/succulent/<%= s.id %>" style="text-decoration: none; color: black;">
                            <img id="img_url" src="<%= s.image_url %>" alt="<%= s.image_url %>">
                        </a>
                        <p id="s_name"><strong><%= s.name %></strong></p>
                        <button class="delete-btn" onclick="openPopup(this)">Delete</button>

                        <div class="overlay" onclick="closePopup(this)" style="<%= failedId == s.id ? 'display:block' : '' %>"></div>
                        <div class="popup" style="<%= failedId == s.id ? 'display:block' : '' %>">
                            <button id="close-popup" onclick="closePopup()">X</button>
                            <form action="/delete/<%= s.id %>" method="POST">
                                <label for="delete-password">Enter password to delete: </label>
                                <input type="text" name="delete-password" required>
                                <div class="error">
                                    <% if (errors && failedId == s.id) { %>
                                        <ul>
                                            <% errors.forEach(e => { %>
                                                <li style="color: red;"><%= e.msg %></li>
                                            <% }) %>
                                        </ul>
                                    <% } %>
                                </div>
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </body>
</html>