<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= s.name %></title>
        <link rel="stylesheet" href="../css/succulent.css">
    </head>
    <body>
        <h1 id="s_name"><strong><%= s.name %></strong><br></h1>
        <div class="succulent">
            <div class="left-side">
                <img id="img_url" src="<%= s.image_url %>" alt="<%= s.image_url %>" width="500">
                <p id="img_url_src">Image source: <a href="<%= s.image_url_src %>" target="_blank">Here</a></p>
            </div>
            <div class="right-side">
                <p id="s_species"><strong>Species: </strong><%= s.species %><br></p>
                <p id="s_genus"><strong>Genus: </strong><%= s.genus %><br></p>
                <p id="s_desc"><strong>Description: </strong><%= s.description %></p>
                <p id="s_price"><strong>Price: </strong>$<%= s.price %></p>
                <a href="/buy"><button type="button">Buy Now</button></a>
            </div>
        </div>
        <a id="homepage" href="/">Homepage</a>
    </body>
</html>